/*
This animation is used in hamburguer.
*/

.leftSlide{
  animation: left-slide 1000ms;
}

@keyframes left-slide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
} 

.rightSlide{
  animation: right-slide 1000ms;
}

@keyframes right-slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
} 



.upSlide{
  animation: up-slide 1000ms;
}
@keyframes up-slide {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
} 


.downSlide{
  animation: down-slide 1000ms;
}

@keyframes down-slide {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
} 



