.neon-header {
  opacity:90%;
  border-radius:2%;
}

.app-blue {
  background-color:#0000ff;
}

.app-footer-blue {
  color: #0000ff;
}

.slide{
  animation: slide-in 1000ms;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
} 


.language-img{
  border: 1px solid white;
  border-radius: 10%;
  margin: 0 auto;
}

.toolbar-btn:hover {
    color:yellow;
    font-weight: bold;
  }

.toolbar-option{
    color: white;
    font-size: 130%;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.social-icon{
  color: blue;

}
