.neon-header {
  opacity:90%;
  border-radius:2%;
}

.app-blue {
  background-color:#0000ff;
}

.appHeader {
  z-index: 2;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  overflow-x: hidden;
  width: 100%
}

.center-card {
  margin: 0 auto;
}

/*------------------------------
This code on html and body was to prevent scrolling on ios
https://markus.oberlehner.net/blog/simple-solution-to-prevent-body-scrolling-on-ios/

------------------------------ */


.app-footer-blue {
  color: #0000ff;
}



.language-img{
  border: 1px solid white;
  border-radius: 10%;
  margin: 0 auto;
}



.standard-toolbar{
  background-color: #0000ff;
}

.transparent-toolbar{
  background-color: transparent;
  position: absolute; 
  top: 0%; 
  left: 0; 
  right: 0;
}


.toolbar-btn:hover {
    color:yellow;
    font-weight: bold;
  }

.toolbar-option{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
    text-decoration: none;
}

.social-icon{
  color: blue;
}

.social-icon-desktop{
  color: white;
}


.v-navigation-drawer--end.v-locale--is-rtl, .v-locale--is-rtl .v-navigation-drawer--end{
  right:auto !important;
}
