.font-header {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: "left";
  }

.neon-header {
  opacity:90%;
  border-radius:5%;
}

.blue {
  background-color: blue;
  color: white;
}

.pe-text  {
  font-family: 'Montserrat', sans-serif;
}

text-large {
  font-size: 120%;
}


.blog-option {
  text-decoration: none;
}
