.hb-option{
    color: blue;
    font-size:170%;
    margin-top:10%;
    text-decoration: none;
}

.hb-option-li{
    padding-top: 10%;
    padding-bottom: 10%;

}

li
{
    list-style-type:  none ;
}

.hb-title{
    background-color: blue;
    border-radius: 4%;
    font-size:180%;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    padding: 2%;
}

.hb-icon-mobile{
    color:blue;
    padding-bottom: 15%;
}


li:hover {
    font-size:140%;
  }


.hb-background {
    background-color:blue;
    color: "blue";
}