.hb-option{
    text-decoration: none;
    color: blue;
    margin-top:10%;
    font-size:130%;
}

li
{
    list-style-type: none;
}

.hb-title{
    
    background-color: blue;
    text-align:center;
    font-size:180%;
    font-family: 'Montserrat', sans-serif;
}

.hb-icon-mobile{
    color: blue;
    width: 20%;
    height: 20%;
    margin-bottom:5%;
}


li:hover {
    font-size:140%;
  }


.hb-background {
    background-color:blue;
    color: "blue";
}