.hb-option{
    text-decoration: none;
    color: white;
    font-size:120%;
}

.hb-title{
    text-align:center;
    font-size:180%;
    font-family: 'Montserrat', sans-serif;
}


li:hover {
    font-size:140%;
  }


.hb-background {
    background-color:blue;
    color: "blue";
}