
.profileImg {
    border-radius: 8%;
    height : 20%;
    margin: 0 auto;
  }
  
#example2 {
border: 2px solid red;
border-radius: 50px 20px;
}


.header-background {
  background: url('./src/assets/azulejos.jpg');
}

.hamburguer-background{
  color: red;
  background-color :red;
 }

.hamburguer-background2{
 background: url('../src/assets/hamburguer-background.jpg');
}