
.article-div {
  width :80%;
  margin: 0 auto;
}

@media (max-width : 420px) {

  .article-div {
    width :95%;
    margin: 0 auto;
  }

}



.article-img_description {
  text-align: left;
}

.blue {
  background-color: blue;
  color: white;
}

.blog-option-title {
  text-decoration: none;
}


.blog-option-value {
  text-decoration: none;
  text-align: left;
}

.pe-text  {
  font-family: 'Montserrat', sans-serif;
}

.font-header {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: "left";
}

.title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}

text-large {
  font-size: 120%;
}