
.article-div {
  width :80%;
  margin: 0 auto;
}

.article-par-padding {
  padding-top: 1%;
}

@media (max-width : 420px) {

  .article-div {
    width :95%;
    margin: 0 auto;
  }

  .article-par-padding {
    padding-top: 4%;
  }

}

.no-underline {
  text-decoration: none;
}


.italic {
  font-style: italic;
}

.blue-text {
  color: blue;
}

.white-text {
  color: white;
}

.article-img_description {
  text-align: left;
}

.blue {
  background-color: blue;
  color: white;
}

.blog-option-title {
  text-decoration: none;
}


.blog-option-value {
  color: black;
  text-decoration: none;
  text-align: left;
}

.pe-text  {
  font-family: 'Montserrat', sans-serif;
}

.pe-text-110  {
  font-family: 'Montserrat', sans-serif;
  font-size: 110%;

}


.font-header {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: "left";
}

.title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}

text-large {
  font-size: 120%;
}